@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'newBrand';
  src: url('./assets/itc-franklin-gothic_condensed-medium.otf');
}

body {
  font-family: 'newBrand', sans-serif;
  /* Aplicar la fuente personalizada a todo el cuerpo del documento */
}